.App {
  text-align: center;
  background-color: red;
  color: darkslateblue;
}

.appLink {
  color: yellowgreen;
}

.header {
  background-color: red;
  color: white;
  text-align: left;
  font-size: 20px;
}

.headerMenu{
  background-color: whitesmoke;
  color: blueviolet;
  text-align: right;
  font-size: 20px;
}
.headerMenuItem{
  background-color: whitesmoke;
  color: blue;
  text-align: left;
  font-size: 20px;
}
.Logo {
  background-color: red;
  display: flex;
  align-items: center;
  margin-left: 10px;
  grid-column: 1;
  height: 46px;
  width: 46px;
}

/*.Logo-image {
  height: 46px;
  width: 46px;
}


.Logo-name {
  font-size: 30px;
  font-weight: 800;
  color: #ffd500;
  display: inline;
}*/
.content {
  background-color: whitesmoke;
  font-size: 24px;
  color: black;
}

.footer {
  background-color: whitesmoke;
  font-size: 14px;
  color: grey;
}
.footerMenuItem {
  background-color: whitesmoke;
  color: grey;
  text-align: left;
  font-size: 20px;
}

.footerMenu {
  background-color: whitesmoke;
  color: white;
  text-align: right;
  font-size: 20px;
}




/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
